// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Pages
// @import "./pages/robot-details";
// @import "./pages/robot-edit";
// @import "./pages/about";

// Components
// @import "./cmps/robot-list";
// @import "./cmps/robot-preview";
// @import "./cmps/robot-filter";
// @import "./cmps/app-header";
// @import "./cmps/nice-button";


.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}


a.active {
    color: rgb(84, 17, 147);
    font-weight: 600;
}